// Colors
$white: #FFF;
$lightestGray: #EEE;
$lighterGray: #CCC;
$lightGray: #999;
$gray: #666;
$darkGray: #555;
$darkerGray: #333;
$bgColor: #FFFEFB;
$black: #000;
$red: #E22C29;


$post: (
    width: 700px,
);

$maxwidth4phone: 100%;
$maxwidth4tablet: 85%;
$maxwidth: 50%;

$image: (
    width: 100px,
    hight: 100px,
    border: 3px,
);

$device: (
    phone: 500px,
    tablet: 1100px
)


