@import 'variables';

@font-face {
    font-family: "bootstrap icon";
    src: url(/assets/fonts/bootstrap-icons.woff) format("woff"),
         url(/assets/fonts/bootstrap-icons.woff2) format("woff2");
}
@font-face {
    font-family: "cyberpunk";
    src: url(/assets/fonts/Cyberpunk-Regular.ttf) format("ttf");
}

@font-face {
    font-family: "source code pro";
    src: url(/assets/fonts/SourceCodePro-Regular.ttf) format("ttf");
}

@font-face {
    font-family: "notomono";
    src: url(/assets/fonts/NotoSansMonoCJKsc-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "noto";
    src: url(/assets/fonts/NotoSansCJKsc-Regular.ttf) format("ttf")
}

@font-face {
    font-family: "sourcehan";
    src: url(/assets/fonts/SourceHanSansSC-VF.otf.woff2) format("woff2");
}

html,body{
    min-height: 100%;
    height: 100%;
}


// 设备自适应
body {
    font-family: "sourcehan";
    font-size: 17px;
    background-color: $bgColor;
    color: $darkerGray;
    line-height: 1.5em;
    margin: 0px;
    padding: 0px;
    @media only screen and (max-width: map-get($device, phone )) {
        font-size: 12px;
    }

    @media only screen and (min-width: map-get($device, phone )) and (max-width: map-get($device, tablet )) {
        font-size: 14px;
    }
}

a {
    &:link,&:visited {
        color: $red;
        text-decoration: underline;
    }
    &:hover,&:focus,&:active {
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    color: $darkerGray;
    line-height: 1.5em;
    border-bottom: 1px solid $lighterGray;
    a {
        &:link,&:visited {
            text-decoration: none;
        }
        &:hover,&:focus,&:active {
            text-decoration: underline;
        }
    }
}
h1 { font-size: 2em; margin: 0.8em 0 0.2em 0; }
h2 { font-size: 1.6em; margin: 1.2em 0 0.6em 0; }
h3 { font-size: 1.4em; margin: 1.2em 0 0.6em 0; color: $lightGray; }
h4 { font-size: 1.2em; margin: 1.2em 0 0.6em 0; color: $lightGray; }


#container {
    margin: 0 auto 0em auto;
    // max-width: map-get($post , width );
    max-width: $maxwidth;
    min-height: calc(100% - 3.5em);
    padding: 0 2% 5% 2%;
    width: 92%;
    position: relative;
    // padding-bottom: 3.5em;
    @media only screen and (max-width: map-get($device, phone)) {
        max-width: $maxwidth4phone;
    }

    @media only screen and (min-width: map-get($device, phone )) and (max-width: map-get($device, tablet )) {
        max-width: $maxwidth4tablet;
    }
}


.postHeader {
    text-align: center;
    margin: -2em 0 2em 0;
    > h1 {
        a {
            color: $darkerGray;
            text-decoration: none;
        }
    }
}

// 文章内容样式
p {
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.2em;
    // 行内代码
    code{
        font-size: 0.9em;
        background-color: $lightestGray;
        border: 1px solid $lightGray;
        border-radius: 3px;
        padding: 2px 4px;
    }
    img, iframe, object, audio, video {
        display: block;
        margin: 2em auto ;
        max-width: 90%;
    }
}

pre {
    padding: 0.9em 1.3em;
    background-color: $lightestGray;
    border:1px solid $lightGray;
    border-radius: 10px;
    overflow: auto;
    code {
        float: left;
    }
}

// 配置博客名
#header {
    text-align: center;
    margin: 2em 0 5em 0;
    
    // font-size: 5em;
    h1 {
        border-bottom: none;
        font-size: 4em;
    }

    a {
        font-family: "cyberpunk";
        text-decoration: none;
    }
}

.byline {
    color: $lightGray;
    font-size: 1em;
    text-align: center;
    margin: -0.5em; 
    > *:not(:last-child):after {
        content: "   ";
        margin: 0 1em;
    }

    a {
        &:link,&:visited {
            color: $lighterGray;
            text-decoration: underline;
        }
        &:hover,&:focus,&:active {
            text-decoration: underline;
        }
    }

    
    .tags {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style-type: none;
        li {
            display: inline;
            margin: auto 0.1em;
        }
    }
}



// 文章列表
ul.postlist {
    padding: 0;
   > li {
        list-style: none;
        margin: 1em 0;
        > a {
            font-size: 1.2em;
            font-weight: bold;
            text-decoration: none;
        }
        > time {
            font-size: 1em;
            color: $lightGray;
        }
   }
}

#footer {
    clear: both;
    // margin-top: -3.5em;
    padding: 0.5em 0 0 0;
    background-color: $lightestGray;
    position: relative;
    // bottom: 0;
    width: 100%;
    height: 3.5em;
    text-align: center;
    .social {
        margin: 0 0 0.1em 0 ;
    }
    .copyright{
        color: $lighterGray;
    }
    i {
        font-family: "bootstrap icon";
        font-size: 2em;
        margin: auto 0.5em;
    }
    a {
        text-decoration: none;
        color: $black;
    }
}

